<html>
  <head>
    <title>サーフポイント一覧</title>
    <%= stylesheet_link_tag "boards", :media => "all" %>
  </head>

  <body>
    <div class="jumbotron mt-4">
      <h1>サーフポイント一覧</h1>
    </div>

    <div class="box11">

      <% if access?(@user) or @user  == current_user %>


      <!-- Sign in, Log in に成功したらでるメッセージ -->
      <p><% flash[:success] %></p>


        <div class = "showPC"><!--PCの画面とスマホの画面を分けたいから-->
        <h1> <%= @user.name %> さんのページ </h1>
        <% if @user == current_user %>
          <h1>サーフポイントの作成</h1>
        <% end %>
        </div>


        <% if @user == current_user %>
          <%= form_for(@newBoard, :url => {:action => 'create'}) do |f| %>
            <div class="form-inline">
              <%= f.text_field :location, class: "form-control mb-2 mr-sm-2 input-lg" %>
              <%= f.hidden_field :user_id %>
              <%= f.submit "サーフポイントの作成", class: "btn btn-primary mb-2 btn-lg" %>
            </div>
          <% end %>

        <% end %>


        <ul class="list-group" style="max-width: 300px;">
        <!--<ul class="list-group"> -->
          <% @boards.each do |boards| %>
          <li class="list-group-item">
            <%= link_to boards.location, boards_show_path(boards.id), style: "margin-left: 15px" %>
            <% if @user == current_user %>
              <%= form_for(boards, url: boards_search_path, html: {method: "get"}) do %>
                <%= hidden_field_tag :board_id, boards.id %>
                <%= submit_tag '共有するユーザの選択へ' %>
              <% end %>
              <%= link_to "削除する", board_path(boards.id), method: :delete, class: "btn btn-danger mb-2 btn-sm", data: {confirm: "本当に削除しますか？"}%>
            <% end %>
          </li>
          <% end %>
        </ul>

        <% if @user == current_user %>
          <h1 style="padding-left: 100px">共有されているユーザー</h1>
            <ul class="list-group" style="max-width: 300px;">
              <% @users.each do |users| %>
                <li class="list-group-item">
                  <%= link_to users.name, board_path(users.id) %>
                </li>
              <% end %>
            </ul>
        <% end %>

        <% if @user == current_user %>

          <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Homeに戻る", root_path %>
        <% end %>

      <% else %>

        <div class = "showPC"><!--PCの画面とスマホの画面を分けたいから-->
          <h1> <%= @user.name %> さんのページ </h1>
        </div>

        <div class = "showPC"><!--PCの画面とスマホの画面を分けたいから-->
          <h1> 許可がありません... </h1>
        </div>

        <!-- ログアウトする。home画面に戻る -->
        <ul class="list-group" style="max-width: 220px;">
          <li class="list-group-item">
            <%= link_to "ホームに戻る", board_path(current_user.id) %>
          </li>
        </ul>

      <% end %>

    </div>
  </body>
</html>
