<html>
  <body>
    <div class="box11">
      <h1 style="margin-left: 100px">ユーザーの検索</h1>
      <!-- ユーザーの検索フォーム -->
      <%= form_tag(boards_search_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>

      <!-- 検索結果の表示 -->
      <% unless @other.nil? %>
        <% @other.each do |user| %>
          <li class="list-group-item">
            <%= link_to user.name, board_path(user.id) %>
            <% if current_user.following?(user) %><!-- 共有してたら．．． -->
              <%= form_for(current_user.active_relationships.find_by(followed_id:user.id), html: { method: :delete }) do |f| %>
                <%= f.submit "共有解除", class: "btn btn-danger " %>
              <% end %>
            <% else %><!-- 共有していなかったら．．． -->
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "共有する", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <p>
        <%= link_to "ホームに戻る", root_path %>
      </p>

    </div>
  </body>
</html>
