<DOCTYPE html>
<html>
  <head>
    <title><%= @board.location %>のサーフポイント</title>
  </head>

  <body>

    <h1><%= @board.location %></h1>

    <!-- 波情報を入力するための入力フォーム -->
    <h3>波情報</h3>
    <%= form_for @newWave, :url => wave_create_path do |f| %>
      <p>
        情報 : コメント
      </p>
      <p>
        <%= f.text_field :status %> : <%= f.text_field :comment %>
      </p>
      <%= f.hidden_field :board_id %>
      <%= f.submit "投稿" %>
    <% end %>

    <!-- 波情報を出力するためのテーブル -->
      <table border="1">
        <tr>
          <th>波情報</th>
          <th>コメント</th>
        </tr>

        <% @wave.each do |wave| %>
          <tr>
            <td><%= wave.status %></td>
            <td><%= wave.comment %></td>
          </tr>
        <% end %>
      </table>

      <!-- google mapを表示するための住所入力フォーム -->
      <%= form_for @newMap, :url => gmap_create_path do |form| %>
        <%= form.label "住所" %>
        <%= form.text_field :address %>
        <%= form.hidden_field :board_id %>
        <%= form.submit %>
      <% end %>

      <!-- google mapを表示する場所> -->
      <div id="gmap" style="width: 1200px; height: 800px;"></div>

      <!-- google mapを表示するためのJS -->
      <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'gmap'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>
  </body>

  <p>
    <%= link_to "戻る", root_path %>
  </p>
</html>
