<html>
  <head>
    <title><%= @board.location %>のサーフポイント</title>
    <%= stylesheet_link_tag "boards", :media => "all" %>
  </head>

  <body>
    <div class="container-fluid"> <!--Bootstrapのグリッドシステムの対象範囲-->
    <div class="box11">

      <h1 style="margin-left: 20px;"><%= @board.location %></h1>

      <!-- google mapを表示する場所> -->
      <div id="gmap" style="width: 100%; height: 300px;"></div>

      <!-- google mapを表示するためのJS -->
      <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'gmap'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>

      <!-- google mapを表示するための住所入力フォーム -->
      <%= form_for @newMap, :url => gmap_create_path do |form| %>
        <div class="form-inline" style="margin-top: 15px;">
          <%= form.label "住所" %>
          <%= form.text_field :address, class: "form-control mb-2 mr-sm-2" , placeholder: "住所"%>
          <%= form.hidden_field :board_id %>
          <%= form.submit "google Mapを表示", class: "btn btn-primary mb-2 btn-lg"%>
        </div>
      <% end %>

    <h3>波情報</h3>
    <!-- 波情報を出力するためのテーブル -->
      <table class="table table-bordered">
        <tr>
          <th>日付</th>
          <th>サイズ</th>
          <th>風向き</th>
          <th>何ショア</th>
          <th>風速</th>
          <th>ウネリのサイズ</th>
          <th>ウネリの向き</th>
          <th>ブレイクの種類</th>
          <th>コメント</th>
        </tr>

        <% @wave.each do |wave| %>
          <tr>
            <td><%= wave.created_at %></td>
            <td><%= wave.status %></td>
            <td><%= wave.windway %></td>
            <td><%= wave.shore %></td>
            <td><%= wave.windpower %></td>
            <td><%= wave.swell %></td>
            <td><%= wave.swellway %></td>
            <td><%= wave.bottom %></td>
            <td><%= wave.comment %></td>
          </tr>
        <% end %>
      </table>
    <!-- 波情報を入力するための入力フォーム -->
    <%= form_for @newWave, :url => wave_create_path do |f| %>
      <div class="form-horizontal">
        <%=f.label "サイズ"%>
        <%=f.select:status, [["",""],["腰","腰"],["腹","腹"],["胸","胸"],["頭","頭"],["頭オーバー","頭オーバー"]] %>
        <%= f.label "うねりの大きさ" %>
        <%=f.select:swell, [["",""],["~0.1","~0.1"],["~1.5","~1.5"],["~2.0","~2.0"],["~2.5","~2.5"],["~3.0","~3.0"]] %>
        <%= f.label "うねりの向き" %>
        <%=f.select:swellway, [["",""],["北","北"],["北東","北東"],["東","東"],["南東","南東"],["南","南"],["南西","南西"],["西","西"],["北西","北西"]] %>
        <%= f.label "風向き" %>
        <%=f.select:windway, [["",""],["北","北"],["北東","北東"],["東","東"],["南東","南東"],["南","南"],["南西","南西"],["西","西"],["北西","北西"]] %>
        <%=f.label "何ショア？"%>
        <%=f.select:shore, [["",""],["オフショア","オフショア"],["サイドオフ","サイドオフ"],["サイドオン","サイドオン"],["オンショア","オンショア"]] %>
        <%=f.label "風の強さ"%>
        <%=f.select:windpower, [["",""],["~2.0","~2.0"],["~4.0","~4.0"],["~6.0","~6.0"],["~8.0","~8.0"]] %>
        <%=f.label "ブレイクの種類"%>
        <%=f.select:windpower, [["",""],["リーフ","リーフ"],["ビーチ","ビーチ"]] %>
        <%= f.label "コメント" %>
        <%= f.text_field :comment, class: "form-control mb-2 mr-sm-2", placeholder: "コメント"%>
        <%= f.hidden_field :board_id %>
        <%= f.submit "投稿" , class: "btn btn-primary mb-2 btn-lg"%>
      </div>
    <% end %>

      <h3>サーフポイントの雰囲気</h3>
      <!-- サーフポイントの雰囲気を出力するためのテーブル -->
        <table class="table table-bordered">
        <% if @mood.present? %>　　<!-- undefin method　'mood' nil:NillClassエラーを解消するため。nilであった場合に実行しないようにする。-->
            <tr>
              <td><%= @mood.mood%></td>
            </tr>
        <% end %>
        </table>

      <!-- サーフポイントの雰囲気を入力するための入力フォーム -->
      <%= form_for @newMood, :url => mood_create_path do |f| %>
        <div class="form-horizontal">
          <%= f.text_field :mood, class: "form-control mb-2 mr-sm-2" , placeholder: "サーフポイント雰囲気" %>
          <%= f.hidden_field :board_id %>
          <%= f.submit "編集", class: "btn btn-primary mb-2 btn-lg"%>
        </div>
      <% end %>

    <h3>エントリーの仕方</h3>
    <!-- エントリを出力するためのテーブル -->
      <table class="table table-bordered">
        <% @manner.each do |manner| %>
          <tr>
            <td><%= manner.entry %></td>
            <td>
            <% @photo.where(manner_id: manner.id).each do |d| %>
              <%= image_tag "data:image/jpeg;base64,#{d.image}",:size =>'240x220' if d.image? %>
            <% end %>
            <%= form_for Photo.new(:manner_id => manner.id), :url => photo_create_path do |f| %>
              <% f.label :image %>
              <%= f.file_field :image %>
              <%= f.hidden_field :manner_id %>
              <%= f.submit "写真を投稿する!", class: "btn btn-primary mb-2" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <!-- エントリを入力するための入力フォーム -->
    <%= form_for @newManner, :url => boards_createManner_path do |f| %>
      <div class="form-horizontal">
        <%= f.text_field :entry, class: "form-control mb-2 mr-sm-2" , placeholder: "エントリーの仕方"%>
        <%= f.hidden_field :board_id %>
        <%= f.submit "投稿", class: "btn btn-primary mb-2 btn-lg" %>
      </div>
    <% end %>


    <p>
      <%= link_to "戻る", board_path(@board.user_id) %>
    </p>
  </div>

  </div><!--Bootstrapのグリッドシステムの対象範囲-->
  </body>
</html>
