<!--railsチュートリアルの、リスト8.19を変更していく-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">  <!-- スマホで表示できるように、container から container-fluidに変更-->
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Board Logger", root_path, id: "logo" %> </li>
      </ul>
        <ul class="nav navbar-nav navbar-right" >
          <% if logged_in? %><!--ログインされていたら表示する-->
            <li><%= link_to "Point List", root_path %></li> <!--ポイントリストへ行く-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <!--<li><%= link_to "Profile", `#` %></li>--> <!--後々、ユーザ情報を見れるようにしたらここ使う-->
                <!--<li><%= link_to "Settings", '#' %></li> --><!--後々,ユーザによる設定をできるようにするときはここを使う-->
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %><!--ログインされていなかったら表示する-->
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>